*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Silkscreen;
}
body{
    margin: 0 auto;
    margin-left: 750px;
    padding-top: 12%;
    background-image: url(./1613162880_15-p-zheltii-fon-mainkraft-6.png);
    display: flex;
    background-size: cover;
    position: fixed;
}
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    max-width: 500px;
    margin: 0 auto;
    background-image: url(./1613052236_14-p-pikselnii-oranzhevii-fon-24\ \ —\ копия.png);
    border-radius: 13px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.title{
    margin-bottom: 20px;
}
.form{
    border-radius: 15px;
    border: 5px dotted rgb(102, 94, 85);
    padding: 75px;
    height: 100px;
    overflow-y: scroll;
}
.input-block{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border-radius: 8px;
}
.input2-block{
    padding-top: 11px;
    margin-bottom: 8px;
}
.input{
    padding: 5px;
    border-radius: 8px;
    font-size: 15px;
}
.input:focus{
    border: 2px solid red;
}
.btn{
    display: flex;
    margin-left: 15px;
    padding: 5px 115px;
    border-radius: 8px;
    background-color: rgb(226, 108, 30);
    color: rgb(0, 0, 0);
    font-size: 17px;
}
.error{
    color: red;
}
.shadow{
    box-shadow: 1px 5px 9px 0px rgba(0, 0, 0, 0.5);
}
